<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/images/icon/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title><%= title %></title>
    <script></script>
    <link rel="stylesheet" href="stylesheets/home.css" />
    <link rel="stylesheet" href="stylesheets/spinner.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="images/icon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="images/icon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="images/icon/favicon-16x16.png"
    />
    <link rel="manifest" href="images/icon/site.webmanifest" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
  </head>
  <body>
    <div
      id="mask"
      style="
        width: 100%;
        height: 100%;
        z-index: 11;
        position: absolute;
        top: 0;
        opacity: 1;
        transition: all 0.7s ease-out;
        align-items: center;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>

    <div class="container">
      <div class="frame">
        <div class="video-info">
          <div class="video item">
            <iframe
              src="https://player.restream.io/?token=9d351aed3f404e579e7b4b1c5f3ab922&vwrs=1"
              allow="autoplay"
              allowfullscreen
              frameborder="0"
              style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              "
            ></iframe>
          </div>
          <div class="logos item">
            <h2>2022년도 국가손상조사감시사업 결과보고회</h2>
            <img src="/images/logo/3.png" alt="" />
          </div>
        </div>

        <div class="reference">
          <details open class="details question">
            <summary class="title">질문하기</summary>
            <div class="question-box group">
              <input type="hidden" name="account" value="<%= account %> " />
              <textarea
                type="text"
                placeholder="강의 내용에 관한 질의가 있으신 경우 질문할 메세지를 적고 전송 버튼을 클릭하세요."
                rows="8"
              ></textarea>
              <div class="contents">
                <button id="question-submit-button">질문제출</button>
              </div>
            </div>
          </details>

          <details open class="details saturday">
            <summary class="title">프로그램<br /></summary>
            <div class="group">
              <div class="time-table">
                <div class="time-group">등 록</div>
                <div class="time-form">
                  <div class="title">등록</div>
                  <div class="time">13:00 ~ 13:30</div>
                </div>
                <div class="time-group">
                  제1부. 국가손상조사감시사업 경과보고
                </div>
                <div class="time-form">
                  <div class="title">개회사</div>
                  <div class="time">13:30 ~ 13:35</div>
                  <div class="people">• 질병관리청장</div>
                </div>
                <div class="time-form">
                  <div class="title">축 사</div>
                  <div class="time">13:35 ~ 13:45</div>
                  <div class="people">
                    • 대한임상독성학회<br />
                    • 대한보건의료정보관리사협회
                  </div>
                </div>
                <div class="time-form">
                  <div class="title">
                    유공기관 및 유공자 표창 수여식, 기념촬영
                  </div>
                  <div class="time">13:45 ~ 13:55</div>
                  <div class="people">• 질병관리청장</div>
                </div>
                <div class="time-form">
                  <div class="title">국가손상조사감시사업 경과보고</div>
                  <div class="time">13:55 ~ 14:20</div>
                  <div class="people">• 손상예방관리과장</div>
                </div>
                <div class="time-form">
                  <div class="title">
                    손상예방 전략 개발 및 국가손상감시체계 발전방안
                  </div>
                  <div class="time">14:20 ~ 15:00</div>
                  <div class="people">• 배정이 교수<br />(인제대학교)</div>
                </div>
                <div class="time-group">
                  제2부 : 국가손상조사감시사업 발전 방향
                  <div class="people">좌장: 염석란 교수 (부산대학교병원)</div>
                </div>
                <div class="time-form">
                  <div class="title">
                    2022년도 퇴원손상심층조사 교육과정 운영 경과보고
                  </div>
                  <div class="time">15:00 ~ 15:20</div>
                  <div class="people">
                    • 홍성옥 책임<br />(대한보건의료정보관리사협회)
                  </div>
                </div>
                <div class="time-form">
                  <div class="title">
                    퇴원손상심층조사 자료의 효율적 활용방안
                  </div>
                  <div class="time">15:20 ~ 15:40</div>
                  <div class="people">• 김성수 교수<br />(청주대학교)</div>
                </div>
                <div class="time-form">
                  <div class="title">ICD-11 도입과 손상감시체계</div>
                  <div class="time">15:40 ~ 16:00</div>
                  <div class="people">
                    • 최지연 팀장<br />(고려대학교 안암병원)
                  </div>
                </div>
                <div class="time-form">
                  <div class="title">질의응답</div>
                  <div class="time">16:00 ~ 16:10</div>
                </div>
                <div class="time-form">
                  <div class="title">휴식</div>
                  <div class="time">16:10 ~ 16:30</div>
                </div>
                <div class="time-group">
                  제3부 : 근거 기반 손상예방관리 전략
                  <div class="people">
                    좌장: 김경환 교수(인제대학교 일산백병원)
                  </div>
                </div>
                <div class="time-form">
                  <div class="title">국가손상감시사업 지원전략</div>
                  <div class="time">16:30 ~ 16:45</div>
                  <div class="people">• 홍기정 교수<br />(서울대학교 병원)</div>
                </div>
                <div class="time-form">
                  <div class="title">운수사고 손상 현황 및 예방관리</div>
                  <div class="time">16:45 ~ 17:00</div>
                  <div class="people">
                    • 이강현 교수<br />(원주세브란스기독병원)
                  </div>
                </div>
                <div class="time-form">
                  <div class="title">두부.척추 손상 현황 및 예방관리</div>
                  <div class="time">17:00 ~ 17:15</div>
                  <div class="people">
                    • 이승철 교수<br />(동국대학교 일산병원)
                  </div>
                </div>
                <div class="time-form">
                  <div class="title">
                    자살, 중독, 추락, 낙상 손상 현황 및 예방관리
                  </div>
                  <div class="time">17:15 ~ 17:30</div>
                  <div class="people">• 김선휴 교수<br />(울산대학교병원)</div>
                </div>
                <div class="time-form">
                  <div class="title">어린이 손상 현황 및 예방관리</div>
                  <div class="time">17:30 ~ 17:45</div>
                  <div class="people">• 김상철 교수<br />(충북대학교병원)</div>
                </div>
                <div class="time-form">
                  <div class="title">질의응답</div>
                  <div class="time">17:45 ~ 17:55</div>
                </div>
              </div>
            </div>
          </details>
        </div>
      </div>
    </div>
  </body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/swal.js"></script>
  <script type="text/javascript" src="javascripts/home.js"></script>
</html>
