<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/images/icon/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>질병관리청</title>
    <script></script>
    <link rel="stylesheet" href="stylesheets/home.css" />
    <link rel="stylesheet" href="stylesheets/spinner.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="images/icon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="images/icon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="images/icon/favicon-16x16.png"
    />
    <link rel="manifest" href="images/icon/site.webmanifest" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
  </head>
  <body>
    <div
      id="mask"
      style="
        width: 100%;
        height: 100%;
        z-index: 11;
        position: absolute;
        top: 0;
        opacity: 1;
        transition: all 0.7s ease-out;
        align-items: center;
        background-color: #fff;

        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>

    <div class="container">
      <div class="frame">
        <div class="video-info">
          <div class="video item">
            <iframe
              src="https://player.restream.io/?token=9d351aed3f404e579e7b4b1c5f3ab922&vwrs=1"
              allow="autoplay"
              allowfullscreen
              frameborder="0"
              style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              "
            ></iframe>
          </div>
          <div class="logos item">
            <img src="/images/logo/2.png" alt="" />
          </div>
        </div>

        <div class="reference">
          <!-- <details open>
            <div class="details check">
              <div class="title cursor-normal">출석체크</div>
              <div class="group">
                <div class="title text-center">
                  참석자께서는
                  <span class="text-red-underline">교육 이수시간 확인</span>을
                  위해
                  <span class="text-red-underline"
                    >[입장/퇴장 체크] 버튼을 클릭</span
                  >하여 연결된 웹페이지에서 입·퇴장정보를 제출해주시기 바랍니다.
                  (<span class="text-red-underline"
                    >최초 입장 시 1회 + 최종 퇴장 시 1회 = </span
                  ><span class="text-blue-underline">총 2회 </span
                  ><span class="text-red-underline">필수</span>)
                </div>
                <div class="contents">
                  <a
                    class="content"
                    href="https://forms.gle/z6SAGSTZvJ4p6B6a9"
                    target="_blank"
                  >
                    <span class="material-symbols-outlined"> task_alt </span>
                    <div>입장/퇴장 체크</div>
                  </a>
                </div>
              </div>
            </div>
          </details> -->

          <details open>
            <summary class="title">질문하기</summary>
            <div class="question-box">
              <textarea
                type="text"
                placeholder="강의 내용에 관한 질의가 있으신 경우 질문할 메세지를 적고 전송 버튼을 클릭하세요."
              ></textarea>
              <div class="contents">
                <button id="question-submit-button">질문제출</button>
              </div>
            </div>
          </details>

          <details open class="details saturday">
            <summary class="title">
              5월 28일(토)<br />
              <span class="text-yellow">Session 2 + 3 + 4</span>
            </summary>
            <div class="group">
              <div class="time-table">
                <div class="time-group">등 록</div>
                <div class="time-form">
                  <div class="title">등록 (온라인 생중계 접속)</div>
                  <div class="time">09:00 ~ 09:30</div>
                </div>
                <div class="time-group">Session 2 : 암등록 실무</div>
                <div class="time-form">
                  <div class="title">2022년 국가암등록통계사업</div>
                  <div class="time">09:30 ~ 09:50</div>
                  <div class="people">
                    • 정규원<br />(국립암센터 암등록감시부 부장)
                  </div>
                </div>
                <div class="time-form">
                  <div class="title">암등록에 유용한 임상지식 - 갑상선암</div>
                  <div class="time">09:50 ~ 10:30</div>
                  <div class="people">
                    • 이진욱<br />(인하대학교병원 유방갑상선외과 센터장)
                  </div>
                </div>
                <div class="time-form">
                  <div class="title">커피브레이크</div>
                  <div class="time">10:30 ~ 10:40</div>
                </div>
                <div class="time-form">
                  <div class="title">암등록에 유용한 임상지식 - 폐암 내과</div>
                  <div class="time">10:40 ~ 11:20</div>
                  <div class="people">
                    • 이정은<br />(충남대학교병원 호흡기내과 부교수)
                  </div>
                </div>
                <div class="time-form">
                  <div class="title">암등록에 유용한 임상지식 - 혈액암</div>
                  <div class="time">11:20 ~ 12:00</div>
                  <div class="people">
                    • 한재준<br />(경희대학교병원 혈액종양내과 교수)
                  </div>
                </div>
                <div class="time-form">
                  <div class="title">점심식사</div>
                  <div class="time">12:00 ~ 13:00</div>
                </div>
                <div class="time-group">
                  Session 3 : 중소요양병원의 보건의료정보관리
                </div>
                <div class="time-form">
                  <div class="title">
                    overview of urinary tract infection based on diagnostic
                    coding
                  </div>
                  <div class="time">13:00 ~ 14:20</div>
                  <div class="people">
                    • 이신영<br />(서울특별시 서울의료원 비뇨의학과 과장)
                  </div>
                </div>
                <div class="time-form">
                  <div class="title">커피브레이크</div>
                  <div class="time">14:20 ~ 14:40</div>
                </div>
                <div class="time-form">
                  <div class="title">신포괄 비뇨기계 감염 진단코딩</div>
                  <div class="time">14:40 ~ 15:20</div>
                  <div class="people">
                    • 오수화<br />(강동경희대학교병원 의료정보관리팀 파트장)
                  </div>
                </div>
                <div class="time-form">
                  <div class="title">요양병원 코로나19 관련 청구</div>
                  <div class="time">15:20 ~ 16:00</div>
                  <div class="people">
                    • 송미경<br />(참요양병원 심사과 과장)
                  </div>
                </div>
                <div class="time-form">
                  <div class="title">커피브레이크</div>
                  <div class="time">16:00 ~ 16:20</div>
                </div>
                <div class="time-group">Session 4 : 자유연제 및 논문발표</div>
                <div class="time-form">
                  <div class="title">
                    신포괄수가제도가 임상의무기록 관리에 미치는 영향 -
                    보건의료정보관리사의 인식 중심으로
                  </div>
                  <div class="time">16:20 ~ 16:40</div>
                  <div class="people">
                    • 이경희<br />(을지대학교 의료경영학과 교수)
                  </div>
                </div>
                <div class="time-form">
                  <div class="title">국민건강보험 빅데이터 소개 및 활용</div>
                  <div class="time">16:40 ~ 17:10</div>
                  <div class="people">
                    • 변경향<br />(국민건강보험공단 빅데이터전략본부
                    업무혁신지원부 팀장)
                  </div>
                </div>
                <div class="time-form" style="grid-template-rows: 1fr">
                  <div class="title">
                    2022년 퇴원손상심층조사 담당자 교육과정 운영 및 질 관리 지원
                  </div>
                  <div
                    class="time"
                    style="
                      grid-row: 1 / span 4;
                      grid-column: 2 / 2;
                      align-self: center;
                    "
                  >
                    <div class="time">17:10 ~ 18:00</div>
                  </div>
                  <div class="people" style="margin-bottom: 1rem">
                    • 홍성옥<br />(대한보건의료정보관리사협회 보건의료연구소
                    책임연구원)
                  </div>
                  <div class="title">
                    퇴원손상심층조사 담당자 교육 다빈도 오류 사례 지침 해설
                  </div>
                  <div class="people">
                    • 오수화<br />(강동경희대학교병원 의료정보관리팀 파트장)
                  </div>
                </div>
              </div>
            </div>
          </details>
        </div>
      </div>
    </div>
  </body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/home.js"></script>
</html>
