/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css);
a,
body,
button,
input,
select,
textarea {
  font-family: Pretendard, sans-serif;
  margin: 0;
  -moz-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

input {
  outline: 0;
}

body {
  background-image: url("/images/home-background.png");
  background-size: cover;
  background-position: center center;

  margin: 0;
}
.container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  width: calc(100vw - 7px);
}
.container > .frame {
  /* background-color: #ebf3f4; */
  padding: 0.7rem 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5rem 20vw;
  grid-template-columns: 71vw 24vw;
  height: 92vh;
  width: 95vw;
  gap: 0.5rem;
  min-height: 500px;
}

.container > .frame > .video-info {
  /* overflow: hidden; */
  display: grid;
  grid-template-rows: 1fr minmax(13.5vh, auto);
  grid-template-columns: 1fr;
}

.container > .frame > .video-info > .logos {
  display: grid;
  grid-row: 2/2;
  flex-direction: row;
  background-image: url("/images/logo/1.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 1rem;
}
.container > .frame > .video-info > .logos img {
  display: none;
}
.container > .frame > .video-info > .logos > .logo > span {
  font-weight: 700;
  font-size: 1.5rem;
  width: 50px;
  color: #fff;
}
.container > .frame > .video-info > .video {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding-bottom: 56.25%;
  height: 0;
  position: relative;
  /* height: 77.7vh; */
}
.container > .frame > .video-info > .video > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}
@media (min-width: 768px) {
  .container > .frame > .video-info > .video > iframe {
    border-radius: 0.7rem;
  }
  .container > .frame > .video-info {
    justify-content: space-between;
    border-radius: 0.7rem;
  }
  .container > .frame {
    /* border-radius: 0.5rem; */
  }
}

.container > .frame > .reference {
  background-color: #ebf3f4;
  border-radius: 0.7rem;
  padding: 1rem;
  overflow: auto;
}

/* 출석체크 컬러 */
.container > .frame > .reference > .check.details {
  background: #005899;
}
/* 목요일 컬러 */
.container > .frame > .reference > .thursday.details {
  background: #4d2b68;
  transition: all 0.3s ease;
}
.container > .frame > .reference > .thursday.details:hover,
.container > .frame > .reference > .thursday.details[open] {
  background: #713f98;
}
.container > .frame > .reference > .thursday.details > .group > .time-table {
  background-color: #ebedf9;
}
.container
  > .frame
  > .reference
  > .thursday.details
  > .group
  > .time-table
  > .time-group {
  background-color: #e2d6ec;
}
/* 금요일 컬러 */
.container > .frame > .reference > .friday.details {
  background: #0f716f;
  transition: all 0.3s ease;
}
.container > .frame > .reference > .friday.details:hover,
.container > .frame > .reference > .friday.details[open] {
  background: #16aca9;
}
.container > .frame > .reference > .friday.details > .group > .time-table {
  background-color: #e9f5f5;
}
.container
  > .frame
  > .reference
  > .friday.details
  > .group
  > .time-table
  > .time-group {
  background-color: #c1e2e1;
}
/* 토요일 컬러 */
.container > .frame > .reference > .saturday.details {
  background-color: #84543a;
  transition: all 0.3s ease;
}
.container > .frame > .reference > .saturday.details:hover,
.container > .frame > .reference > .saturday.details[open] {
  background-color: #c57d55;
}
.container > .frame > .reference > .saturday.details > .group > .time-table {
  background-color: #f6f1eb;
}
.container
  > .frame
  > .reference
  > .saturday.details
  > .group
  > .time-table
  > .time-group {
  background-color: #f3dbcf;
}
.container > .frame > .reference > .details {
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.container > .frame > .reference > .details > .title {
  font-size: 1.3rem;
  padding: 1rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #ffffff;
}
.container > .frame > .reference > .details > .title:hover,
.container > .frame > .reference > .details[open] > .title {
  transition: all 0.3s ease-out;
}

.container > .frame > .reference > .details[open] > title:hover {
  /* color: #202020;
  background-color: transparent; */
  border-bottom: 3px solid #1d95d3;
  color: #1d95d3;
}
.container > .frame > .reference > .details > title:before {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transform-origin: 0.2rem 50%;
  -ms-transform-origin: 0.2rem 50%;
  transform-origin: 0.2rem 50%;
  -webkit-transition: 0.25s transform ease;
  -o-transition: 0.25s transform ease;
  transition: 0.25s transform ease;
}

summary::marker {
  content: "\e5db";
  font-family: "Material Symbols Outlined";
  font-weight: 700;
}
details[open] summary::marker {
  content: "\e5d8";
}
.container > .frame > .reference > .details > .group {
  border: 1px solid #aaa;
  margin-bottom: 0.7rem;
  padding: 0.7rem;
  border-radius: 0.7rem;
  background-color: #ffffff;
}
/* .container > .frame > .reference > .details > .group:hover {
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  background-color: rgba(0, 0, 0, 0.03);
} */
.container > .frame > .reference > .details > .group > .title {
  font-size: 1.1rem;
  font-weight: 700;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #aaa;
  -webkit-text-decoration-color: red;
  text-decoration-color: red;
}

.container > .frame > .reference > .details > .group > .time-table {
  border-radius: 0.5rem;
}
.container > .frame > .reference .contents {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #005899;
  border-radius: 7px;
}
.container > .frame > .reference > .details > .group > .contents > .content {
  padding: 0.3rem 0.5rem;
  gap: 0.4rem;
  border-radius: 0.7rem;
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.container
  > .frame
  > .reference
  > details
  > .group
  > .contents
  > .content
  > i.fa-file-excel {
  color: #386d48;
}
.container
  > .frame
  > .reference
  > details
  > .group
  > .contents
  > .content
  > i.fa-file-powerpoint {
  color: #bd4e31;
}
.container
  > .frame
  > .reference
  > details
  > .group
  > .contents
  > .content
  > i.fa-file-word {
  color: #355390;
}
.container
  > .frame
  > .reference
  > details
  > .group
  > .contents
  > .content
  > div {
  font-size: 0.9rem;
}
.container
  > .frame
  > .reference
  > details
  > .group
  > .time-table
  > .time-group {
  text-align: center;
  padding: 0.3rem 0.6rem;
  border-bottom: 1px solid #eee;
  margin: 0.3rem 0;
  background-color: #eee;
  border-radius: 0.7rem;
  font-weight: 500;
  font-size: 1.1rem;
}
.container > .frame > .reference > details > .group > .time-table > .time-form {
  border-bottom: 1px solid #eee;
  padding: 0.5rem 0.7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
  row-gap: 0.3rem;
  margin: 0.3rem 0;
  border-radius: 0.7rem;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.container
  > .frame
  > .reference
  > details
  > .group
  > .time-table
  > .time-form:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.container
  > .frame
  > .reference
  > details
  > .group
  > .time-table
  > .time-form
  > .title {
  font-weight: 400;
  font-size: 1rem;
}
.container
  > .frame
  > .reference
  > details
  > .group
  > .time-table
  > .time-form
  > .time {
  font-size: 0.8rem;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}
.container
  > .frame
  > .reference
  > details
  > .group
  > .time-table
  > .time-form
  > .people {
  font-size: 0.8rem;
  color: #999;
}
.container > .frame > .video-info > .info {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1rem auto 1rem 1fr;
  grid-template-rows: auto auto 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  overflow: auto;
}
.container > .frame > .video-info > .info > .info-title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1rem 1fr;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}
.container > .frame > .video-info > .info > .info-title > .icon {
  width: 3rem;
}
.container > .frame > .video-info > .info > .info-title > .info-text {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  padding: 0.5rem 0.7rem;
  border-radius: 0.7rem;
}
.container > .frame > .video-info > .info > .info-title > .info-text:hover {
  background-color: rgba(200, 200, 200, 0.5);
}
.container > .frame > .video-info > .info > .info-title > .info-text > .title {
  font-size: 1.1rem;
}
.container
  > .frame
  > .video-info
  > .info
  > .info-title
  > .info-text
  > .lastopen {
  font-size: 0.8rem;
  color: #888;
}
.container > .frame > .video-info > .info > .info-detail {
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}
.container > div:last-child {
  -ms-grid-column-align: center;
  justify-self: center;
}
.container > div:last-child > img {
  width: 10rem;
}
@media (max-width: 1280px) {
  .container {
    height: auto;
    -ms-flex-line-pack: normal;
    align-content: normal;
    -webkit-box-align: normal;
    -ms-flex-align: normal;
    align-items: normal;
  }
  .container > .frame {
    width: 100%;
    height: auto;
    -ms-grid-rows: auto auto 1fr;
    grid-template-rows: auto auto 1fr;
    -ms-grid-columns: none;
    grid-template-columns: none;
    overflow: auto;
    padding: 0;
  }
  .container > .frame > .video-info > .video {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 2 / 2;
    height: 0;
    padding-bottom: 56.25%;
  }
  .container > .frame > .video-info > .logos {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .container > .frame > .video-info > .info {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    min-height: 100px;
    overflow: auto;
  }
  .container > .frame > .reference {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    min-height: 300px;
    grid-column: unset;
  }
  .container > .frame > .video-info {
    grid-template-rows: minmax(13.5vh, auto) 1fr;
  }
  .container > .frame > .video-info > .logos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("");
  }
  .container > .frame > .video-info > .logos img {
    max-width: 400px;
    margin: 0 auto;
    width: 50%;
    display: block;
  }
  .container > .frame > .video-info > .logos h1 {
    font-size: 3.5vw;
    margin-left: 0;
  }
  .container > .frame > .video-info > .logos > .logo {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(166, 166, 166, 0.83);
  border-radius: 7px;
  border: 2px solid transparent;
}
::-webkit-scrollbar-track {
  background-color: rgba(133, 133, 133, 0.12);
  border-radius: 7px;
}
.ytp-title-text {
  display: none;
}
.text-center {
  text-align: center;
}

.text-red-underline {
  color: red;
  text-decoration: underline;
  text-underline-position: under;
}
.text-blue-underline {
  color: blue;
  text-decoration: underline;
  text-underline-position: under;
}

.swal2-popup {
  border-radius: 0px !important;
}
.swal2-styled.swal2-confirm {
  background-color: #4a7eda !important;
}

.swal2-styled.swal2-confirm:focus {
  box-shadow: 0 0 0 3px #61c4f5 !important;
}

.cursor-normal {
  cursor: unset !important;
}

.text-yellow {
  color: #fef200;
}

.text-strong {
  color: #202020 !important;
  font-weight: 700 !important;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
